---
import MoonIcon from "./icons/MoonIcon.astro";
import SunIcon from "./icons/SunIcon.astro";
---

<header
  class="fixed top-0 z-10 mx-auto mt-2 flex w-full items-center justify-center"
>
  <nav class="flex items-center justify-between rounded-full px-3">
    <a
      class="relative block p-2 font-medium hover:text-secondary"
      href="#experience">Experiencia 💼</a
    >
    <a
      class="relative block p-2 font-medium hover:text-secondary"
      href="#proyects">Proyectos 🛠️</a
    >
    <a class="relative block p-2 font-medium hover:text-secondary" href="#about"
      >Acerca de mi 🫣</a
    >
    <a
      class="flex items-center gap-3 rounded-xl border-2 border-solid border-primary px-2 py-1 font-semibold text-primary"
      href="/assets/docs/Alan_Mayorga_CV.pdf"
      target="_blank"
      rel="noopener noreferrer"
      download
    >
      CV <svg
        xmlns="http://www.w3.org/2000/svg"
        class="inline-block"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
        <path d="M7 11l5 5l5 -5"></path>
        <path d="M12 4l0 12"></path>
      </svg>
    </a>
    <button id="toggleTheme" class="m-2">
      <SunIcon class="hidden hover:fill-current dark:block" />
      <MoonIcon class="hover:fill-current dark:hidden" />
    </button>
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply bg-white/50 shadow-lg ring-1 ring-white/10 backdrop-blur dark:bg-gray-800/90;
    }
  }
</style>

<script>
  const $toggleButton = document.getElementById("toggleTheme");

  $toggleButton?.addEventListener("click", () => {
    const theme = localStorage.getItem("theme") ?? "light";

    if (theme !== "dark") {
      document.documentElement.classList.add("dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("theme", "light");
    }
  });
</script>
