<header
  class="fixed top-0 z-10 mx-auto mt-2 flex w-full items-center justify-center"
>
  <nav class="flex items-center justify-between rounded-full px-3">
    <a
      class="relative block p-2 font-medium hover:text-secondary"
      href="#experience">Experiencia 💼</a
    >
    <a
      class="relative block p-2 font-medium hover:text-secondary"
      href="#proyects">Proyectos 🛠️</a
    >
    <a class="relative block p-2 font-medium hover:text-secondary" href="#about"
      >Acerca de mi 🫣</a
    >
    <a
      class="flex items-center gap-3 rounded-xl border-2 border-solid border-primary px-2 py-1 font-semibold text-primary"
      href="/assets/docs/Alan_Mayorga_CV.pdf"
      target="_blank"
      rel="noopener noreferrer"
      download
    >
      CV <svg
        xmlns="http://www.w3.org/2000/svg"
        class="inline-block"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
        <path d="M7 11l5 5l5 -5"></path>
        <path d="M12 4l0 12"></path>
      </svg>
    </a>
    <button id="toggleTheme" class="m-2">
      {
        (
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M12 19a1 1 0 0 1 .993.883L13 20v1a1 1 0 0 1-1.993.117L11 21v-1a1 1 0 0 1 1-1m6.313-2.09l.094.083l.7.7a1 1 0 0 1-1.32 1.497l-.094-.083l-.7-.7a1 1 0 0 1 1.218-1.567zm-11.306.083a1 1 0 0 1 .083 1.32l-.083.094l-.7.7a1 1 0 0 1-1.497-1.32l.083-.094l.7-.7a1 1 0 0 1 1.414 0M4 11a1 1 0 0 1 .117 1.993L4 13H3a1 1 0 0 1-.117-1.993L3 11zm17 0a1 1 0 0 1 .117 1.993L21 13h-1a1 1 0 0 1-.117-1.993L20 11zM6.213 4.81l.094.083l.7.7a1 1 0 0 1-1.32 1.497l-.094-.083l-.7-.7A1 1 0 0 1 6.11 4.74zm12.894.083a1 1 0 0 1 .083 1.32l-.083.094l-.7.7a1 1 0 0 1-1.497-1.32l.083-.094l.7-.7a1 1 0 0 1 1.414 0M12 2a1 1 0 0 1 .993.883L13 3v1a1 1 0 0 1-1.993.117L11 4V3a1 1 0 0 1 1-1m0 5a5 5 0 1 1-4.995 5.217L7 12l.005-.217A5 5 0 0 1 12 7"
            />
          </svg>
        )
      }
    </button>
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply bg-white/50 shadow-lg ring-1 ring-white/10 backdrop-blur dark:bg-gray-800/90;
    }
  }
</style>

<script>
  const $toggleButton = document.getElementById("toggleTheme");

  $toggleButton?.addEventListener("click", () => {
    const theme = localStorage.getItem("theme") ?? "light";

    if (theme !== "dark") {
      document.documentElement.classList.add("dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("theme", "light");
    }
  });
</script>
