---
export interface Props {
    id: string
    title: string
    content?: string[]
}

const { id, title, content } = Astro.props

---

<section id={id}>
    <h1 class="text-3xl font-semibold mb-3">{title}</h1>
    {
        content?.map((text) => <p class="mb-2 dark:text-gray-300">{text}</p>)
    }
    <slot />
</section>
