<a
  {...Astro.props}
  class="flex items-center justify-center gap-2 rounded-full border border-black/20 px-4 py-2 hover:bg-black/5 dark:border-white/10 dark:bg-white/5 dark:hover:bg-white/10"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
